@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500&family=Montserrat:wght@500;700&display=swap");

$primaryColor: hsl(225, 50%, 48%);
$secondaryColor: hsl(180, 17%, 95%);
$colorOne: hsl(15, 74%, 70%);
$colorTwo: hsl(68, 85%, 35%);
$hoverColor: hsl(225, 56%, 59%);
$whiteColor: hsl(0, 0%, 100%);
$blackColor: hsl(0, 0%, 12%);
$textColor: hsl(240, 1%, 48%);
$borderColor: hsl(0, 0%, 83%);
$whiteColorDim: hsl(0, 0%, 93%);
$grayBg: hsl(0, 0%, 96%);
$grayText: rgb(145, 145, 145);
$inputColor: hsl(330, 12%, 97%);
$boxShadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
$transition: 0.4s ease;

.flight-search {
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $whiteColor;


    .search-form {
        width: 100%;
        max-width: 2900px;
        box-shadow: $boxShadow;
        padding: 10px;
        border-radius: 10px;

        .form-row {
            display: flex;
            gap: 20px; // Space between fields
            justify-content: space-between;
            align-items: center;

            .form-group {
                flex: 1;
                min-width: 200px;
                margin-bottom: 0;

                .form-control {
                    padding: 100px;
                    font-size: 1rem;
                    border-radius: 8px;
                    border: 1px solid $borderColor;
                    background-color: $inputColor;
                    color: $blackColor;

                    &:focus {
                        border-color: $primaryColor;
                        box-shadow: 0 0 5px $primaryColor;
                    }
                }
            }

            .button-group {
                display: flex;
                justify-content: center;

                .btn {
                    background-color: $primaryColor;

                    padding: 12px 30px;
                    color: $whiteColor;
                    font-size: 1.1rem;
                    border-radius: 18px;
                    cursor: pointer;

                    &:hover {
                        background-color: $hoverColor;
                    }
                }
            }
        }
    }
}